---
title: Home
---

<!-- Header -->
<div class="index-container">
  <ul  class ="people-list" > 
  {{#each  superheroes }} 
  <li > {{firstName}} {{lastName}} </li > 
  {{/each  }} 
</ul > 
</div>


